<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Error</title>

  <% include ../partials/header %>

</head>

<body>
  <!-- Navigation -->
 <% include ../partials/navbar %>

  <!-- container -->
  <div class="container">
    <h1><%= message %></h1
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </div>
  <!-- /.container -->

  <!-- SCRIPTS -->
  <% include ../partials/scripts %>

</body>

</html>
